include "application.conf"

# 1) Change secret key.
play.crypto.secret = "changeme"

# 2) Change database configurations.
db {
    store.driver = com.mysql.jdbc.Driver
    store.url = "jdbc:mysql://localhost/storedb?characterEncoding=UTF-8"
    store.username = storedbuser
    store.password = "storedbpassword"

    #stickers.driver = com.mysql.jdbc.Driver
    #stickers.url = "jdbc:mysql://localhost/stickersdb?characterEncoding=UTF-8"
    #stickers.username = stickersdbuser
    #stickers.password = "stickersdbpassword"
}

# 3) Change contest info.
contest.name = "KSN Contest KSNコン"
contest.description = "KSNコンテストは、誰でも参加可能。毎週開催のお得ではないネットコンテストです。"
contest.url = "https://ksncon.sweetduet.info"
contest.playpath = "/path/to/playapp"

# 4) Change firebase app name.
firebaseapp.contest = "firebase-contest-app"
firebaseapp.contestapikey = "firebase-contest-app_apiKey"
firebaseapp.contestdatabaseurl = "firebase-contest-database_url"
firebaseapp.contestmessagingsenderid = "firebase-contest-app_messagingSenderId"

# 5) Admin API token
admin.api.token = "****"

# 6) Google verification (optional)
google.verification = ""
